<div class="send-password-content">
  <button
    routerLink="/send-mail"
    (click)="backClicked()"
    class="back-button"
    mat-icon-button
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Passwort zurücksetzen</h1>

  <form>
    <mat-form-field class="full-width">
      <mat-label>Neues Passwort</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Neues Passwort"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
      />
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Bitte geben Sie ein Passwort ein.
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('pattern')">
        Das Passwort muss bestimmte Kriterien erfüllen.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Neues Passwort Wiederholen</mat-label>
      <input
        type="password"
        matInput
        [formControl]="confirmPasswordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Neues Passwort Wiederholen"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
      />
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        Bitte bestätigen Sie Ihr Passwort.
      </mat-error>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('mustMatch')">
        Die Passwörter stimmen nicht überein.
      </mat-error>
    </mat-form-field>

    <div class="btn-div">
      <button mat-flat-button color="primary">Passwort ändern</button>
    </div>
  </form>
</div>
