<div class="send-password-content">
  <button routerLink="/send-mail" class="back-button" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Passwort zurücksetzen</h1>

  <form>
    <mat-form-field class="full-width">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Neues Passwort"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
      /><mat-icon
        (click)="showPassword()"
        fontIcon="{{ passwordVisible ? 'visibility_off' : 'visibility' }}"
      ></mat-icon>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Bitte geben Sie ein Passwort ein.
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('pattern')">
        Das Passwort muss bestimmte Kriterien erfüllen.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        type="password"
        matInput
        [formControl]="confirmPasswordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Neues Passwort bestätigen"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
      /><mat-icon
        (click)="showPassword()"
        fontIcon="{{ passwordVisible ? 'visibility_off' : 'visibility' }}"
      ></mat-icon>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        Bitte bestätigen Sie Ihr Passwort.
      </mat-error>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('mustMatch')">
        Die Passwörter stimmen nicht überein.
      </mat-error>
    </mat-form-field>

    <div class="btn-div">
      <button
        mat-flat-button
        color="primary"
        [disabled]="isButtonDisabled()"
        [ngClass]="{ 'disabled-button': isButtonDisabled() }"
        routerLink="/reset-password"
        type="button"
      >
        Passwort ändern
      </button>
    </div>
  </form>
</div>
