.send-mail-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 0 32px 0 32px;
  max-width: 500px;
}
  
h1 {
      font-weight: 700 !important;
      font-size: 46px !important;
      width: max-content;
      color: #444DF2;
      margin: 0;
      padding: 10px;
      text-align: center;
  }
  
  .first-info-text {
    color: black;
    font-weight: 400;
    font-size: 20px;
  }

  .second-info-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #686868;
    font-weight: 400;
    font-size: 20px;

  }

.create-account-container {
    display: none !important;
}

.back-button {
  position: absolute !important;
  top: 34px;
  left: 34px;
  float: left;
}

.mat-mdc-unelevated-button[disabled] {
  border-radius: 25px;
  padding: 12px, 25px, 12px, 25px;
  background-color: #686868 !important;
  color: white !important;
  font-size: 18px;
  font-weight: 700;
  width: 173px;
  height: 49px;

}

.btn-div{
  display: flex;
  justify-content: flex-end;
}

form{
  display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: #ECEEFE !important;
}



