<div class="dialog-content">
    <div class="header">
        <div>
            <mat-icon 
                class="icon"
                svgIcon="hashtag" 
                aria-hidden="false" 
                aria-label="Hashtag icon">
            </mat-icon>
            <h1>{{ channelsService.currentChannelName }}</h1>
        </div>
        
        <a class="close-btn" mat-dialog-close mat-icon-button><mat-icon class="icon">close</mat-icon></a>
    </div>
    <section class="content">
    
        <form #channelForm="ngForm" class="form-content">
            <div class="channel-name">

                <div>
                    <h2>Channel-Name</h2>
                    <a>Bearbeiten</a>
                </div>
                
                <div>
                    <mat-icon 
                        svgIcon="hashtag" 
                        aria-hidden="false" 
                        aria-label="Hashtag icon">
                    </mat-icon>
                    <span>
                        {{ channelsService.currentChannelName }}
                    </span>
                </div>

            </div>

             <!-- <mat-form-field appearance="outline">
                    <mat-icon class="icon" svgIcon="hashtag" aria-hidden="false" aria-label="Workspace icon"></mat-icon>
                    <input matInput required
                           placeholder="z.B. Kooperationsobjekte"
                           name="channelName"
                           [(ngModel)]="currentChannelName"
                           [ngModelOptions]="{standalone: true}"
                           maxlength="20"
                           >
                           @if (nameFormControl.hasError('required')) {
                            <mat-error>Bitte geben Sie einen Namen ein.</mat-error>
                            }
                </mat-form-field> -->

            <div class="channel-description">

                <div>
                    <div>
                        <h2>Beschreibung</h2>
                        <a>Bearbeiten</a>
                    </div>
                    
                    <span>{{ channelsService.currentChannelDescription }}</span>
                    <div><div class="line"></div></div>
                    <div>
                        <span>Erstellt von</span>
                        <p class="creator">{{ currentUser?.name }}</p>
                    </div>
                </div>
                <!-- <mat-form-field appearance="outline">
                    <input matInput 
                           placeholder="Dein Text hier"
                           name="channelDescription"
                           [(ngModel)]="currentChannelDescription"
                           maxlength="200"
                           >
                </mat-form-field> -->
            </div>
        </form>
        
    </section>
    
    <div class="dialog-footer">
        <mat-dialog-actions>
            <button mat-flat-button mat-dialog-close>
                Channel verlassen
            </button>
        </mat-dialog-actions>
    </div>
    
</div>


