.sign-in-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 0 32px 0 32px;
    max-width: 500px;

    >h1 {
        font-size: 46px;
        font-weight: 700;
        line-height: 55.2px;
        color: #444DF2;
        text-align: center;
    }

    >span {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
}

.create-account-inputs {
    width: 100%;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0;

    >span {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
        color: #000000;
        padding: 5px 15px;
    }

    >mat-divider {
        width: 100%;
        border: 1px solid rgba(104, 104, 104, 0.2);
    }
}

.google-btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #ECEEFE;
    border: unset;
    transition: all 0.125s ease-in-out;
    padding: 11px 0;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #444DF2;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #444DF2;
        font-weight: 700;
        transition: all 0.125s ease-in-out;
    }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    width: 100%;
    background-color: rgba(236, 238, 254, 1) !important;
    border-radius: 100px;

    &:hover {
        border: 1px bold black !important;
    }
}

.mat-mdc-form-field-infix {
    display: flex;
    gap: 30px;
    color: rgba(104, 104, 104, 1);

    >.mat-icon {
        color: Text gray;
    }

    &:hover {
        color: black;
    }
}

.reset-password-link {
    cursor: pointer;
    padding: 5px 15px;
    font-family: Figtree;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #797EF3;
}



.mdc-line-ripple {
    display: none;
}

.sign-in-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    >button {
        width: 100%;
        height: 49px;
        border-radius: 25px;
        background-color: #444DF2;
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        padding: 12px 25px;
        border: unset;
        cursor: pointer;
        transition: all 0.125s ease-in-out;

        &:hover {
            background-color: #3A3FDB;
            transition: all 0.125s ease-in-out;
        }
    }
}

.sign-in-btn {
    cursor: pointer;
    padding: 12px 25px;
    border: 1px solid #797ef3;
    border-radius: 25px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 49px;
    color: #FFFFFF;
}

.guest-sign-in-btn {
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    transition: background-color 0.125s ease-in-out;
    padding: 12px 25px;
    border: 1px solid #444DF2;
    color: #444DF2;

}