<div class="chat-container max-width">
    <div class="chat-header">
        <div class="selected-user" (click)="this.getSelectedUserInfo(selectedUser?.id)"><img [src]="selectedUser?.avatarPath" alt=""> {{ selectedUser?.name}}</div>
    </div>
    <div #chatWindow class="chat-content">

        <div class="message-box" *ngFor="let mess of (messageService.directMessages); let i = index">
            <div class="message-content" *ngFor="let message of mess.conversation; let i = index">
                <div *ngIf="message.displayDate" class="posted-date-container">
                    <span class="posted-date">{{ message.displayDate }}</span>
                </div>
                <div *ngIf="!message.isOwnMessage" class="message-received-container">
                    <img class="sender-avatar" [src]="message.senderAvatar" alt="">
                    <div class="message-container">
                        <div class="reaction-container-received">
                            <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png" alt=""></div>
                            <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png" alt=""></div>
                            <div class="reaction-icon"><mat-icon fontIcon="add_reaction"></mat-icon></div>
                            <div class="reaction-icon"><mat-icon fontIcon="comment"></mat-icon></div>
                        </div>
                        <span class="message-infos-sender">
                            <span class="sender-name" (click)="this.getSelectedUserInfo(message.senderId)">
                                {{message.senderName }}
                            </span>
                            <span class="message-time">{{ message.formattedTimestamp }}</span>
                        </span>
                        <span class="message-recieved">{{ message.message }}
                            <!-- Bildvorschau für URLs, die Bilddateien sind -->
                            <a *ngIf="isImageFile(message.fileURL)" [href]="message.fileURL" target="_blank">
                                <img class="image-preview" [src]="message.fileURL" alt="Bildvorschau" width="100%" />
                            </a>
                            <!-- Datei-Link für alle anderen Dateitypen -->
                            <a *ngIf="message.fileURL && !isImageFile(message.fileURL) && !message.fileURL?.endsWith('.pdf')"
                                class="file-link" [href]="message.fileURL" target="_blank"> {{
                                getFileNameFromURL(message.fileURL) }}</a>
                        </span>
                    </div>
                </div>

                <div *ngIf="message.isOwnMessage" class="message-sender-container">
                    <img class="sender-avatar" [src]="message.senderAvatar" alt="">

                    <div class="message-area-container">
                        <div *ngIf="!isEditing(message.messageId)" class="message-container">
                            <div class="reaction-container-sender">
                                <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png" alt="">
                                </div>
                                <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png" alt="">
                                </div>
                                <div class="reaction-icon"><mat-icon fontIcon="add_reaction"></mat-icon></div>
                                <!-- <div (click)="showThread(message)" class="reaction-icon"><mat-icon
                                    fontIcon="comment"></mat-icon></div> -->
                                <div (click)="showMessageEditToggle()" class="reaction-icon edit-message-icon"><mat-icon
                                        fontIcon="more_vert"></mat-icon></div>
                                <div *ngIf="showMessageEdit" class="edit-message">
                                    <span (click)="editMessage(message.messageId)">Nachricht bearbeiten</span>
                                </div>
                            </div>

                            <span class="message-infos-reciever">
                                <span class="my-name" (click)="openUserProfile($event)">
                                    {{ message.senderName }}
                                </span>
                                <span class="message-time">{{
                                    message.formattedTimestamp }}
                                    Uhr
                                </span>
                            </span>
                            <span class="chat-message-sender">{{ message.message }}
                                <!-- Bildvorschau für URLs, die Bilddateien sind -->
                                <a *ngIf="isImageFile(message.fileURL)" [href]="message.fileURL" target="_blank">
                                    <img class="image-preview" [src]="message.fileURL" alt="Bildvorschau"
                                        width="100%" />
                                </a>
                                <!-- Datei-Link für alle anderen Dateitypen -->
                                <a *ngIf="message.fileURL && !isImageFile(message.fileURL) && !message.fileURL?.endsWith('.pdf')"
                                    class="file-link" [href]="message.fileURL" target="_blank">{{
                                    getFileNameFromURL(message.fileURL)
                                    }}</a>

                            </span>

                            <div class="show-reactions">
                                <div class="reaction-icon-button">
                                    <div class="reaction-name-popup">
                                        <img src="./assets/images/reaction/rocket.png" alt="">
                                        <h3>Sofia Müller</h3><span>Hat reagiert</span>
                                    </div><img src="./assets/images/reaction/check_mark.png" alt=""> 1
                                </div>
                                <div class="reaction-icon"><mat-icon fontIcon="add_reaction"></mat-icon></div>
                            </div>
                        </div>
                        <div *ngIf="isEditing(message.messageId)" class="message-edit-container">
                            <textarea class="message-input" id="edit-message" type="text"
                                [(ngModel)]="message.message"></textarea>
                            <div class="message-edit-buttons">
                                <div (click)="showEmoji()" class="message-icon">
                                    <mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                                </div>
                                <div class="message-edit-action">
                                    <button (click)="cancelMessageEdit()">Abbrechen</button>
                                    <button (click)="saveMessage(mess)" class="save-btn">Speichern</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="chat-message-input-container">
        <textarea class="message-input" id="dirctChatMessage" [(ngModel)]="directChatMessage" type="text"
            placeholder="Schreiben Sie Ihre Nachricht"></textarea>

        <!-- Datei-Vorschau -->



        <div class="message-icon-container">
            <div class="left-icon-container">
                <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
                <div class="message-icon" (click)="triggerFileInput()">
                    <mat-icon fontIcon="add"></mat-icon>
                </div>
                <div class="separator"></div>
                <div (click)="showEmoji()" class="message-icon"><mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                </div>
                <div class="message-icon"><mat-icon fontIcon="alternate_email"></mat-icon></div>

                <div *ngIf="filePreviewUrl" class="file-preview">
                    <img *ngIf="selectedFile && selectedFile.type.startsWith('image/')" [src]="filePreviewUrl"
                        alt="Dateivorschau" />
                    <a *ngIf="selectedFile && selectedFile.type === 'application/pdf'" [href]="filePreviewUrl"
                        target="_blank">PDF
                        anzeigen</a>
                    <mat-icon class="delete-upload" fontIcon="close" (click)="deleteUpload()"></mat-icon>
                </div>

            </div>


            <div class="right-icon-container">
                <div (click)="sendMessage()" class="message-icon send"><mat-icon fontIcon="send"></mat-icon></div>
            </div>
        </div>
        <emoji-mart class="emoji-mart-chat" *ngIf="messageService.showEmojiPicker" (emojiSelect)="addEmoji($event)"
            [darkMode]="false" title="Pick your emoji…" emoji="point_up">
        </emoji-mart>
    </div>
</div>