<div class="full-width">
    <header>
        <div class="logo-container">
            <img src="./../../assets/images/main_logo.png" alt="DABubble Logo">
        </div>
        <div class="create-account-container">
            <span>Neu bei DABubble?</span>
            <a routerLink="create-account">Konto erstellen</a>
        </div>
    </header>
    <div class="content">
        <mat-card appearance="outlined" class="login-container">
            <router-outlet></router-outlet>
        </mat-card>
    </div>
</div>