<div class="select-avatar-content">
    <mat-card>
        <button (click)="goBack()" class="back-button" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div>
            <h1>Wähle deinen Avatar</h1>
        </div>
        <div>
            <div>
                <img 
                [src]="selectedAvatar ? selectedAvatar : '../../../../assets/images/avatars/person.svg'"  alt="Selected Avatar"
                [ngStyle]="{'height': selectedAvatar ? '100%' : '90.67px', 'width': selectedAvatar ? '100%' : '90.67px'}"
                >
            </div>
        </div>
        <div>
            <div>
                <div><h2>Moritz Mayer-Eckardt</h2></div>
                <div><span>Aus der Liste wählen</span></div>
            </div>
            <div>
                <div *ngFor="let avatar of avatars" (click)="chooseAvatar(avatar)">
                    <img [src]="avatar" alt="Avatar">
                </div>
            </div>
        </div>
        <div>
            <div><span>eigenes Bild verwenden</span></div>
            <button mat-stroked-button>Datei hochladen</button>
        </div>  
        <div><a href="sign-in" mat-stroked-button>Weiter</a></div>
    </mat-card>
</div>




