<div class="chat-container max-width">
    <div class="chat-header">
        <mat-form-field class="chat-search-bar">
            <input type=" text" (input)="onSearch($event)" matInput
                placeholder="An: #channel, oder @jemand oder E-Mail-Adresse">
        </mat-form-field>
        <div class="search-block" *ngIf="isSearching">
            <div class="found-block" *ngIf="filteredChannels.length">
                <div class="found-users" *ngFor="let channel of filteredChannels"># {{ channel.name }}</div>
            </div>

            <div class="found-block" *ngIf="filteredUsers.length">
                <div class="found-users" *ngFor="let user of filteredUsers"><img [src]="user.avatarPath" alt="">{{
                    user.name }}</div>
            </div>
        </div>
    </div>
    <div class="chat-message-input-container">
        <textarea class="message-input" id="chatMessage" [(ngModel)]="chatMessage" type="text"
            placeholder="Schreiben Sie Ihre Nachricht"></textarea>
        <div class="message-icon-container">
            <div class="left-icon-container">
                <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
                <div class="message-icon" (click)="triggerFileInput()">
                    <mat-icon fontIcon="add"></mat-icon>
                </div>
                <div class="separator"></div>
                <div (click)="showEmoji()" class="message-icon"><mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                </div>
                <div class="message-icon"><mat-icon fontIcon="alternate_email"></mat-icon></div>

                <div *ngIf="filePreviewUrl" class="file-preview">
                    <img *ngIf="selectedFile && selectedFile.type.startsWith('image/')" [src]="filePreviewUrl"
                        alt="Dateivorschau" />
                    <a *ngIf="selectedFile && selectedFile.type === 'application/pdf'" [href]="filePreviewUrl"
                        target="_blank">PDF
                        anzeigen</a>
                    <mat-icon class="delete-upload" fontIcon="close" (click)="deleteUpload()"></mat-icon>
                </div>

            </div>


            <div class="right-icon-container">
                <div (click)="sendMessage()" class="message-icon send"><mat-icon fontIcon="send"></mat-icon></div>
            </div>
        </div>
        <emoji-mart class="emoji-mart-chat" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" [darkMode]="false"
            title="Pick your emoji…" emoji="point_up">
        </emoji-mart>
    </div>
</div>