<div class="chat-container max-width">
    <div class="chat-header">
        <div *ngIf="channelsService.currentUserChannels" class="chat-header-button" (click)="openDialog()"><span># {{ channelsService.currentChannelName }}</span>
            <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
        </div>
        <div class="members-container">
            <div class="members-list" *ngFor="let member of channelsService.currentChannelMembers">
                <img [src]="member.avatarPath" alt="user-avatar">
            </div>
            <span *ngIf="channelsService.currentChannelMembers && channelsService.currentChannelMembers.length <= 3">{{ channelsService.currentChannelMembers.length }}</span>
            <span *ngIf="channelsService.currentChannelMembers && channelsService.currentChannelMembers.length >= 4"> 3+ </span>
            <mat-icon class="add-member-button" fontIcon="person_add"></mat-icon>
        </div>
    </div>
    <div #chatWindow class="chat-content">

        <div class="max-width" *ngFor="let message of messages; let i = index">
            <div *ngIf="message.displayDate" class="posted-date-container">
                <span class="posted-date">{{ message.displayDate }}</span>
            </div>
            <div *ngIf="!message.isOwnMessage" class="message-received-container">
                <img class="sender-avatar" [src]="message.senderAvatar" alt="">
                <div class="message-container">
                    <div class="reaction-container-received">
                        <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png" alt=""></div>
                        <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png" alt=""></div>
                        <div class="reaction-icon"><mat-icon fontIcon="add_reaction"></mat-icon></div>
                        <div (click)="showThread(message)" class="reaction-icon"><mat-icon
                                fontIcon="comment"></mat-icon></div>
                    </div>
                    <span class="sender-name">{{ message.senderName }}
                        <span class="message-time">{{ message.formattedTimestamp }}</span>
                    </span>
                    <span class="message-recieved">{{ message.message }}
                        <!-- Bildvorschau für URLs, die Bilddateien sind -->
                        <a *ngIf="isImageFile(message.fileURL)" [href]="message.fileURL" target="_blank">
                            <img class="image-preview" [src]="message.fileURL" alt="Bildvorschau" width="100%" />
                        </a>
                        <!-- Datei-Link für alle anderen Dateitypen -->
                        <a *ngIf="message.fileURL && !isImageFile(message.fileURL) && !message.fileURL?.endsWith('.pdf')"
                            class="file-link" [href]="message.fileURL" target="_blank"> {{
                            getFileNameFromURL(message.fileURL) }}</a>


                    </span>

                    <span *ngIf="message?.answers && message.answers.length > 0" (click)="showThread(message)"
                        class="answers-block">
                        {{ message.answers.length }} Antworten
                        <span class="message-time">Letzte Antwort
                            <span class="message-time">14:25</span>
                        </span>
                    </span>


                </div>
            </div>


            <div *ngIf="message.isOwnMessage" class="message-sender-container">
                <img class="sender-avatar" [src]="message.senderAvatar" alt="">

                <div class="message-area-container">
                    <div *ngIf="!isEditing(message.messageId)" class="message-container">
                        <div class="reaction-container-sender">
                            <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png" alt=""></div>
                            <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png" alt=""></div>
                            <div class="reaction-icon"><mat-icon fontIcon="add_reaction"></mat-icon></div>
                            <div (click)="showThread(message)" class="reaction-icon"><mat-icon
                                    fontIcon="comment"></mat-icon></div>
                            <div (click)="showMessageEditToggle()" class="reaction-icon edit-message-icon"><mat-icon
                                    fontIcon="more_vert"></mat-icon></div>
                            <div *ngIf="showMessageEdit" class="edit-message">
                                <span (click)="editMessage(message.messageId)">Nachricht bearbeiten</span>
                            </div>
                        </div>

                        <span class="my-name">{{ message.senderName }} <span class="message-time">{{
                                message.formattedTimestamp }}
                                Uhr</span></span>
                        <span class="chat-message-sender">{{ message.message }}
                            <!-- Bildvorschau für URLs, die Bilddateien sind -->
                            <a *ngIf="isImageFile(message.fileURL)" [href]="message.fileURL" target="_blank">
                                <img class="image-preview" [src]="message.fileURL" alt="Bildvorschau" width="100%" />
                            </a>
                            <!-- Datei-Link für alle anderen Dateitypen -->
                            <a *ngIf="message.fileURL && !isImageFile(message.fileURL) && !message.fileURL?.endsWith('.pdf')"
                                class="file-link" [href]="message.fileURL" target="_blank">{{
                                getFileNameFromURL(message.fileURL)
                                }}</a>

                        </span>



                        <div class="show-reactions">
                            <div class="reaction-icon-button">
                                <div class="reaction-name-popup">
                                    <img src="./assets/images/reaction/rocket.png" alt="">
                                    <h3>Sofia Müller</h3><span>Hat reagiert</span>
                                </div><img src="./assets/images/reaction/check_mark.png" alt=""> 1
                            </div>
                            <div class="reaction-icon"><mat-icon fontIcon="add_reaction"></mat-icon></div>
                        </div>
                    </div>
                    <div *ngIf="isEditing(message.messageId)" class="message-edit-container">
                        <textarea class="message-input" id="edit-message" type="text"
                            [(ngModel)]="message.message"></textarea>
                        <div class="message-edit-buttons">
                            <div (click)="showEmoji()" class="message-icon">
                                <mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                            </div>
                            <div class="message-edit-action">
                                <button (click)="cancelMessageEdit()">Abbrechen</button>
                                <button (click)="saveMessage(message)" class="save-btn">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="chat-message-input-container">
        <textarea class="message-input" id="chatMessage" [(ngModel)]="chatMessage" type="text"
            placeholder="Schreiben Sie Ihre Nachricht"></textarea>

        <!-- Datei-Vorschau -->



        <div class="message-icon-container">
            <div class="left-icon-container">
                <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
                <div class="message-icon" (click)="triggerFileInput()">
                    <mat-icon fontIcon="add"></mat-icon>
                </div>
                <div class="separator"></div>
                <div (click)="showEmoji()" class="message-icon"><mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                </div>
                <div class="message-icon"><mat-icon fontIcon="alternate_email"></mat-icon></div>

                <div *ngIf="filePreviewUrl" class="file-preview">
                    <img *ngIf="selectedFile && selectedFile.type.startsWith('image/')" [src]="filePreviewUrl"
                        alt="Dateivorschau" />
                    <a *ngIf="selectedFile && selectedFile.type === 'application/pdf'" [href]="filePreviewUrl"
                        target="_blank">PDF
                        anzeigen</a>
                    <mat-icon class="delete-upload" fontIcon="close" (click)="deleteUpload()"></mat-icon>
                </div>

            </div>


            <div class="right-icon-container">
                <div (click)="sendMessage()" class="message-icon send"><mat-icon fontIcon="send"></mat-icon></div>
            </div>
        </div>
        <emoji-mart class="emoji-mart-chat" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" [darkMode]="false"
            title="Pick your emoji…" emoji="point_up">
        </emoji-mart>
    </div>
</div>