<div class="dialog-content">
    <header>
        <h1 mat-dialog-title>Leute hinzufügen</h1>
        <a class="close-btn" mat-dialog-close mat-icon-button><mat-icon class="icon">close</mat-icon></a>
    </header>
    <mat-dialog-content>
    
            <mat-radio-group [(ngModel)]="selectedValue" (change)="onSelectionChange($event)" class="radio-group-container">
                <mat-radio-button class="radio-button" color="primary" value="addAll"><span>Alle Mitglieder von <a class="group-link" href="">OfficeTeam</a> hinzufügen</span></mat-radio-button>
                <mat-radio-button class="radio-button" color="primary" value="specific"><span>Bestimmte Leute hinzufügen</span></mat-radio-button>
                
                <div *ngIf="selectedValue === 'specific'" class="specific-container">
                    <div class="example-form-field">
                        <input matInput type="search" [(ngModel)]="searchTerm" (input)="filterUsers()" placeholder="Suche nach Benutzern">
                    </div>
                    
                    <div *ngFor="let user of filteredUsers">
                        <p>{{ user.name }}</p>
                    </div>
                </div>

            </mat-radio-group>
        
    </mat-dialog-content>
    
    <div class="dialog-footer">
        <mat-dialog-actions>
            <button mat-flat-button mat-dialog-close (click)="createNewChannel()">Erstellen</button>
        </mat-dialog-actions>
    </div>
    
</div>
