<div class="container">
    <div class="headline">
        <h3>Profil</h3>
        <img src="../../../assets/images/icons/close.png" alt="" (click)="closeUserProfile()">
    </div>
    <img src="../../../assets/images/avatars/avatar3.svg" alt="" class="avatar-img">
    <div class="name-container">
            <h2>Peter Scholz</h2>
            <span>Bearbeiten</span>
    </div>
    <div class="status-container">
        <!-- @if (currentUser()?.loginState == 'loggedIn') {
            <span class="status">
                <img src="/img/status_online.png" alt="" class="state-icon"> Online
            </span>
            } @else if (currentUser()?.loginState == 'idle') {
            <span class="status">
                <img src="/icons/user_idle.png" alt="" class="state-icon"> Abwesend
            </span>
            } @else if (currentUser()?.loginState == 'loggedOut') {
            <span class="status">
                <img src="/icons/user_offline.png" alt="" class="state-icon"> Offline
            </span>
            } -->
            <img src="../../../assets/images/icons/Online.png" alt="" class="state-icon">
            <span>Aktive</span>
    </div>
    <div class="email-container">
        <img src="../../../assets/images/icons/mail.png" alt="">
        <div>
            <span>Email Adresse</span>
            <span class="email-address">peter&#64;gmail.com</span>
        </div>
    </div>
</div>