.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    font-family: 'Nunito', sans-serif;
    width: 400px;

    .avatar-img {
        object-fit: cover;
        object-position: center;
        width: 200px;
        height: 200px;
        border-radius: 500px;
    }
}

.name-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 38px;
        width: 100%;

        h2 {
            font-size: 32px;
            font-weight: 700;
        }

        .edit-icon {
            cursor: pointer;
            transition: all .125s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
        }

        >span {
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            color: #535AF1;
            transition: all .125s ease-in-out;

            &:hover {
                color: #444DF2;
                font-weight: 700;
            }
        }
    }
}

.status {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    color: #92C83E;
    font-size: 20px;
    font-weight: 400;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;

    >img {
        cursor: pointer;
        border-radius: 20px;
        padding: 8px;
        transition: all .125s ease-in-out;

        &:hover {
            background-color: #ECEEFD;
        }
    }
}

.email-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 38px;

    >img {
        align-self: flex-start;
        padding-top: 5px;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 38px;

        >span:first-child {
            font-size: 20px;
            font-weight: 700;
        }

        .email-address {
            color: #1381FF;
            font-size: 18px;
            font-weight: 500;
        }
    }

    display: flex;
    align-items: center;
    gap: 16px;

}

.state-icon {
    width: 24px;
    height: 24px;
}