<div class="thread-container max-width">
  <div class="thread-header">
    <div class="thread-header-content">
      <h1 class="thread-header-title">Thread</h1>
      <span class="thread-header-subtitle"># testtesttest</span>
    </div>
    <button
      mat-icon-button
      aria-label="Close Thread"
      class="close-btn"
      (click)="closeThread()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="thread-content">
    <!-- Originalnachricht -->
    <div class="thread-message-container">
      <img
      [src]="selectedMessage?.senderAvatar"
        alt="Profile Image"
        class="avatar"
      />
      <div class="thread-message-details">
        <div class="thread-message-info">
          <span class="thread-message-sender">{{ selectedMessage?.senderName }}</span>
          <span class="thread-message-time">{{ selectedMessage?.formattedTimestamp }}</span>
        </div>
        <div class="thread-message-bubble">
          <p>{{ selectedMessage?.message }}</p>
        </div>
      </div>
      <div class="emoji-box">
        <mat-icon class="message-icon">add_reaction</mat-icon>
      </div>
    </div>

    <!-- Anzahl der Antworten -->
    <div class="answers">
      <div class="answer-count"><span>2</span><span>Antworten</span></div>
      <div class="line"></div>
    </div>

    <!-- Kommentar -->
    <div *ngFor="let message of messages" style="width: 100%;">
      <div class="thread-message-container" *ngIf="!message.isOwnMessage">
        <img
          src="/assets/images/logo_big.png"
          alt="Profile Image"
          class="avatar"
        />
        <div class="thread-message-details">
          <div class="thread-message-info">
            <span class="thread-message-sender">{{ message.senderName }}</span>
            <span class="thread-message-time">{{ message.formattedTimestamp }}</span>
          </div>
          <div class="thread-message-bubble">
            <p class="thread-message-text">
              {{ message.message }}
            </p>
          </div>
          <div class="thread-show-reactions">
            <div class="thread-reaction-icon-button">
              <div class="thread-reaction-name-popup">
                <img
                  src="./assets/images/reaction/check_mark.png"
                  alt="Reaction Icon"
                />
                <h3>Sofia Müller</h3>
                <span>Hat reagiert</span>
              </div>
              <img
                src="./assets/images/reaction/check_mark.png"
                alt="Reaction Icon"
              />
              2
            </div>
            <div>
              <mat-icon>add_reaction</mat-icon>
            </div>
          </div>
        </div>
        <div class="emoji-box">
          <mat-icon class="message-icon">add_reaction</mat-icon>
        </div>
      </div>
    </div>

    <!-- Eigene Nachricht -->
    <div *ngFor="let message of messages" style="width: 100%;">
      <div
        class="thread-message-container user-message-container"
        *ngIf="message.isOwnMessage"
      >
        <img
          src="/assets/images/logo_big.png"
          alt="Profile Image"
          class="avatar"
        />
        <div class="thread-message-details" *ngIf="threadMessageArea">
          <div class="emoji-box user-emoji-box">
            <mat-icon class="message-icon">add_reaction</mat-icon>
            <mat-icon class="message-icon" (click)="toggleEditBtn()"
              >more_vert</mat-icon
            >
            <div *ngIf="showMessageEdit" class="thread-edit-message">
              <span (click)="editMessage()">Nachricht bearbeiten</span>
            </div>
          </div>
          <div class="user-message-info">
            <span class="thread-message-sender">{{ message.senderName }}</span>
            <span class="thread-message-time">{{
              message.formattedTimestamp
            }}</span>
          </div>
          <div class="user-message-bubble">
            <p>{{ message.message }}</p>
            <!-- threadMessage -->
          </div>
          <div class="thread-show-reactions" style="justify-content: flex-end">
            <div class="thread-reaction-icon-button">
              <div class="thread-reaction-name-popup">
                <img
                  src="./assets/images/reaction/rocket.png"
                  alt="Reaction Icon"
                />
                <h3>Sofia Müller</h3>
                <span>Hat reagiert</span>
              </div>
              <img
                src="./assets/images/reaction/check_mark.png"
                alt="Reaction Icon"
              />
              1
            </div>
            <div>
              <mat-icon fontIcon="add_reaction"></mat-icon>
            </div>
          </div>
        </div>

        <div *ngIf="showMessageEditArea" class="thread-message-edit-container">
          <textarea
            class="thread-edit-textarea"
            id="thread-edit-message"
            type="text"
            [(ngModel)]="editingMessage"
          ></textarea>
          <div class="thread-message-edit-buttons">
            <div (click)="showEmoji()" class="thread-message-icon">
              <mat-icon fontIcon="sentiment_satisfied"></mat-icon>
            </div>
            <div class="thread-message-edit-action">
              <button (click)="cancelMessageEdit()">Abbrechen</button>
              <button class="save-btn" (click)="saveMessage()">
                Speichern
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nachrichteneingabebereich -->
  <div class="thread-message-input-container">
    <textarea
      class="message-input"
      id="threadMessage"
      placeholder="Schreiben Sie Ihre Nachricht"
      [(ngModel)]="newThreadMessage"
    ></textarea>
    <div class="message-icon-container">
      <div class="left-icon-container">
        <div class="message-icon"><mat-icon fontIcon="add"></mat-icon></div>
        <div class="separator"></div>
        <div (click)="showEmoji()" class="thread-message-icon">
          <mat-icon fontIcon="sentiment_satisfied"></mat-icon>
        </div>
        <div class="message-icon">
          <mat-icon fontIcon="alternate_email"></mat-icon>
        </div>
      </div>
      <div class="right-icon-container">
        <div class="message-icon send" (click)="sendMessage()">
          <mat-icon fontIcon="send"></mat-icon>
        </div>
      </div>
    </div>
    <emoji-mart
      *ngIf="showEmojiPicker"
      (emojiSelect)="addEmoji($event)"
      [darkMode]="false"
      title="Pick your emoji…"
      emoji="point_up"
    ></emoji-mart>
  </div>
</div>
