<div class="container">
  <mat-card class="card-header">
    <mat-card-content>
      <div class="card-header-content">
        <h1 class="card-title">Thread</h1>
        <span class="card-subtitle"># testtesttest</span>
      </div>
      <div class="card-footer">
        <button mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-body" appearance="outlined">
    <mat-card-content class="padding-0">
      <div class="message-container">
        <img
          src="/assets/images/logo_big.png"
          alt="Profile Image"
          class="avatar"
        />
        <div class="message-details">
          <div class="message-header">
            <span class="message-sender">Noah Braun</span>
            <span class="message-time">14:25</span>
          </div>
          <mat-card class="message-bubble">
            <mat-card-content>
              <p class="message-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure
                voluptatibus porro aspernatur fugiat, nihil beatae labore
                numquam ipsam aliquam facere sint, officiis a voluptatem
                molestiae tenetur illo omnis fugit cum.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="responses">
        <div class="antwort-zahl"><span>2</span><span>Antworten</span></div>
        <div class="line"></div>
      </div>
    </mat-card-content>

    <mat-card-content class="padding-0">
      <div class="mirrored-message-container">
        <img
          src="/assets/images/logo_big.png"
          alt="Profile Image"
          class="mirrored-avatar"
        />
        <div class="mirrored-message-details">
          <div class="mirrored-message-header">
            <span class="mirrored-message-sender">Noah Braun</span>
            <span class="mirrored-message-time">14:25</span>
          </div>
          <mat-card class="mirrored-message-bubble">
            <mat-card-content>
              <p class="mirrored-message-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure
                voluptatibus porro aspernatur fugiat, nihil beatae labore
                numquam ipsam aliquam facere sint, officiis a voluptatem
                molestiae tenetur illo omnis fugit cum.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
